.background {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}

.content {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

#blue {
    font-size: 50px;
    width: 4vw;
    position: relative;
    left: -4.21vw;
    text-align: center;
    font-weight: 600;
}

#orange {
    font-size: 50px;
    width: 4vw;
    position: relative;
    left: 4.21vw;
    text-align: center;
    font-weight: 600;
}

#timing {
    font-size: 30px !important;
    font-weight: 600;
    top: -7px;
    position: relative;
}

.background a {
    font-size: 24px;
    font-weight: 700;
}

object {
    margin-left: 29px;
    margin-right: 29px;
}

.txt {
    font-size: 24px;
    font-weight: 700;
}

.divA {
    position: relative;
    top: 4vw;
    left: 10.5vw;
    text-align: right;
    width: 20%;
}

.divB {
    position: relative;
    top: 2.5vw;
    left: 69.5vw;
    width: 20%;
}