
#teamAWait {
    position: absolute;
    top: 361px;
    left: 246px;
    width: 20%;
}
#teamBWait {
    position: absolute;
    top: 361px;
    left: 1288px;
    width: 20%;
}
#weekWait {
    left: 1188px;
    margin-top: 9px;
    position: absolute;
    text-align: center;
    top: 90%;
    font-weight: 600;
    font-size: 27;
}
#timerWait {
    left: 0;
    line-height: 200px;
    margin-top: -90px;
    position: absolute;
    text-align: center;
    top: 58%;
    width: 100%;
    font-weight: 600;
    font-size: 39;
}

object {
    margin-top: 59px;
    width: 100%;
}