body {
    overflow: hidden;
    font-weight: 600;
    font-size: 2.2vw;
    color: white;
}

.mainDiv {
    position: relative;
    top: 12vw;
}

.goLeft {
    right: -102vw !important;
}

.content {
    filter: blur(100px);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50))
}

#discDiv {
    --dur: 2s;
    right: 104vw;
    position: relative;
    margin: 0;
    transition: var(--dur);
}

.closed {
    width: 0vw;
}

.leave {
    right: 38vw !important;
    left: auto !important;
}

#round {
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    opacity: 1;
}

.noDisplay {
    display: none;
}

.hide {
    opacity: 0 !important;
}

.opened {
    width: 25vw;
}

#roundDiv {
    height: 3vw;
    background-color: #DC872C;
    display: flex;
    left: 37vw;
    transition: 1s;
    margin-top: 2vw;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.disc {
    width: 15%;
}

.middle {
    right: -42vw !important;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}