body {
    background-color: #002b36;
    color: #fdf6e3
}

div.block {
    border: 1px solid #586e75;
    padding: 5px;
    margin: 5px;
}

input {
    background-color: #93a1a1;
    border: 1px solid #657b83;
    padding: 5px;
    color: #002b36;
}

input.valid {
    background-color: #859900;
}

.hidden {
    display: none;
}
